{% extends "::base.html.twig" %}

{% block title %}AppBundle:DoctrinePlayground:newBook{% endblock %}

{% block body %}
<h1> vous etes sur DoctrinePlayground :details</h1>

        {{ dump(book) }}

{% endblock %}
