{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} AppBundle:calculator:add{% endblock %}

{% block body %}
<h1>Welcome to the calculator:add page</h1>

    {{ n1 }} plus {{ n2 }} est égat à {{ result }}
{% endblock %}
